<!-- МОДАЛКА -->
<div id="item-modal-id" class="uk-flex-top cloud-modal" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <div class="container-products container-padding" uk-overflow-auto>
      <h4>Топпинги</h4>
      <div *ngFor="let topping of toppings" class="uk-flex uk-flex-middle item">
        <!-- <div class="image"><img src="" alt=""></div> -->
        <div class="descr uk-padding-remove-horizontal uk-text-truncate uk-width-expand">
          <h5 class="uk-margin-remove uk-text-truncate">{{ topping?.title }}</h5>
          <p class="uk-margin-remove price uk-text-small">{{ topping?.price }} ₽</p>
          <!-- <small class="uk-text-muted">Description</small> -->
        </div>
        <div class="multiple-btn" [ngClass]="{ 'active' : topping?.count > 0 }">
          <div class="btn-count">
            <button [disabled]="topping?.count <= 1" (click)="deleteToppingFromProduct(productId, topping?._id)" class="uk-button uk-button-primary uk-button-circle only-icon"><i class="ico ico-minus"></i></button>
            <span class="count">{{ topping?.count }}</span>
            <button [disabled]="topping?.count >= 10" (click)="addToppingToProduct(topping, productId)" class="uk-button uk-button-primary uk-button-circle only-icon"><i class="ico ico-plus"></i></button>
          </div>
          <button (click)="topping?.count < 1 ? addToppingToProduct(topping, productId) : deleteToppingFullFromProduct(productId, topping?._id)"
                  class="btn-main uk-button uk-button-primary uk-button-circle">
            <span class="anim-ico"><i class="ico ico-plus"></i></span>
          </button>
        </div>
      </div>
    </div>
    <div class="uk-flex uk-flex-center uk-flex-middle">
      <div><a href="javascript:;" class="uk-modal-close uk-button uk-button-secondary uk-button-shadow"><i class="ico ico-times"></i></a></div>
    </div>
  </div>
</div>
<!-- /МОДАЛКА -->
