	<div [hidden]="isRootRoute" uk-sticky="show-on-up: true; animation: uk-animation-slide-top;" class="go-back">
		<button (click)="goBack()" [ngClass]="{ 'uk-position-fixed': isMap }" class="uk-button uk-button-primary uk-button-circle">
			<i class="ico ico-chevron-left"></i>
		</button>
	</div>
	<div [hidden]="isRootRoute && totalCart === 0" [ngClass]="{ 'noempty bounce-in-down allow': totalCart > 0 }" class="header-cart uk-text-middle" id="cart">
		<a routerLink="/cart">
			<i class="ico ico-cart"></i> <span *ngIf="totalCart >= 0" class="uk-text-small">{{ totalCart | number }} ₽</span>
		</a>
	</div>

<div *ngIf="isCityBoxIn" [ngClass]="{ 'out': isCityBoxOut }" class="city-box">
	<div class="container">
		<form [formGroup]="cityForm" class="uk-flex uk-flex-center uk-flex-middle uk-flex-between" novalidate>
			<div class="uk-width-expand uk-margin-right">
				<select class="uk-select uk-width-1-1"
								id="city"
								name="city"
								formControlName="city">
					<option *ngFor="let city of cities" [value]="city?.name">{{ city?.name }}</option>
				</select>
			</div>
			<div>
				<button (click)="setCity()" class="uk-button uk-button-primary uk-button-circle"><i class="ico ico-check"></i></button>
			</div>
		</form>
	</div>
</div>

<router-outlet (activate)="changeRoute()"></router-outlet>

<div class="container-bottom-menu">
	<div uk-grid class="uk-grid-collapse uk-child-width-expand uk-text-center">
		<div>
			<a [routerLink]="'/home'" class="uk-icon-link" routerLinkActive="active"><i class="ico ico-home"></i></a>
		</div>
		<div>
			<a [routerLink]="'/contacts'" routerLinkActive="active" class="uk-icon-link"><i class="ico ico-map-marker"></i></a>
		</div>
		<div>
			<a [routerLink]="'/page/about'" routerLinkActive="active" class="uk-icon-link"><i class="ico ico-heart"></i></a>
		</div>
		<div>
			<a id="open-menu-modal" class="uk-icon-link"><i class="ico ico-menu"></i></a>
		</div>
	</div>
</div>

<div id="menu-modal" class="uk-flex-top menu-modal">
	<div class="content">
		<div class="profile uk-flex uk-flex-middle">
			<div class="photo uk-margin-right"><img src="./assets/images/prew/avatar-new.jpg" alt="" class="uk-border-circle"></div>
			<div class="info uk-width-expand">
				<strong>Александра</strong><br>
				<small class="uk-text-muted">+7 (921) 444-44-44</small>
			</div>
			<div class="arrow"><span class="uk-text-muted" uk-icon="chevron-right"></span></div>
		</div>
		<div class="menu-list">
			<a *ngFor="let page of pages" [routerLink]="['/page', page?.key]" routerLinkActive="active">
				<i *ngIf="page?.icon !== undefined" class="ico ico-{{ page?.icon }}"></i> {{ page?.title }}
			</a>
		</div>
	</div>
</div>