<div *ngIf="page?.images.length > 0" class="container-product-img">
	<div class="overlay uk-inline">
		<picture>
			<!-- <source *ngFor="let image of product?.images"
					type="image/{{ image.ext }}"
					media="(max-width: {{ image.width }}px)"
					srcset="{{ apiUrl }}{{ image.src }}"> -->
      <img src="{{ defaultImage }}"
           alt="{{ page?.title }}">
		</picture>
	</div>
</div>
<div class="container-product container-padding margin-remove" >
	<div class="product-card">
		<h3>{{ page?.title }}</h3>
		<div [innerHTML]="page?.content"></div>
	</div>
</div>