<div class="container-product-img">
	<div class="overlay uk-inline">
		<picture>
			<source *ngFor="let image of category?.images"
					type="image/{{ image.ext }}"
					media="(max-width: {{ image.width }}px)"
					srcset="{{ apiUrl }}{{ image.src }}">
			<img src="{{ defaultImage }}"
				 alt="{{ category?.title }}">
		</picture>
	</div>
</div>
<div class="container-products container-padding">
	<h3 class="uk-text-center">{{ category?.title }}</h3>
	<div class="container-slider container-favorite">
		<h4>Популярное</h4>
		<div class="uk-position-relative" uk-slider="finite: true">
			<ul class="uk-slider-items uk-grid uk-grid-small">
				<li class="uk-width-2-5" *ngFor="let product of popularProducts">
					<a [routerLink]="['/product', product?._id]">
						<div class="uk-panel">
							<picture>
								<source *ngFor="let image of product?.images"
										type="image/{{ image.ext }}"
										media="(max-width: {{ image.width * 2 }}px)"
										srcset="{{ apiUrl }}{{ image.src }}">
								<img src="{{ defaultImage }}"
									 alt="{{ product?.title }}">
							</picture>
						</div>
						<h5 class="uk-margin-remove">{{ product?.title }}</h5>
						<small class="price uk-margin-remove">{{ product?.price }} ₽</small>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="uk-flex uk-flex-middle item" *ngFor="let product of products">
		<div *ngIf="product?.components === undefined" class="image uk-cover-container" [routerLink]="['/product', product._id]">
			<picture>
				<source *ngFor="let image of product?.images"
						type="image/{{ image.ext }}"
						media="(max-width: {{ image.width * 2 }}px)"
						srcset="{{ apiUrl }}{{ image.src }}">
				<img src="{{ defaultImage }}"
					 alt="{{ product?.title }}">
			</picture>
		</div>
		<div *ngIf="product?.components !== undefined" class="image uk-cover-container" [routerLink]="['/components', product._id]">
			<picture>
				<source *ngFor="let image of product?.images"
								type="image/{{ image.ext }}"
								media="(max-width: {{ image.width * 2 }}px)"
								srcset="{{ apiUrl }}{{ image.src }}">
				<img src="{{ defaultImage }}"
						 alt="{{ product?.title }}">
			</picture>
		</div>
		<div *ngIf="product?.components === undefined" class="descr uk-width-expand uk-text-truncate" [routerLink]="['/product', product._id]">
			<h5 class="uk-margin-remove uk-text-truncate">{{ product?.title }}</h5>
			<p class="uk-margin-remove price uk-text-small">{{ product?.price }} ₽</p>
			<small class="uk-text-muted">{{ product?.composition }}</small>
		</div>
		<div *ngIf="product?.components !== undefined" class="descr uk-width-expand uk-text-truncate" [routerLink]="['/components', product._id]">
			<h5 class="uk-margin-remove uk-text-truncate">{{ product?.title }}</h5>
			<p class="uk-margin-remove price uk-text-small">{{ product?.price }} ₽</p>
			<small class="uk-text-muted">{{ product?.composition }}</small>
		</div>
		<div *ngIf="product?.components === undefined" class="btn">
			<button [disabled]="product?.count >= 10" (click)="addProductToCart(product)" class="uk-button uk-button-primary uk-button-circle"><i class="ico ico-cart"></i></button>
		</div>
	</div>
</div>