<agm-map [latitude]="latitude"
				 [longitude]="longitude"
				 [zoom]="13"
				 [zoomControl]="false"
				 [usePanning]="true"
				 [streetViewControl]="false"
				 [mapTypeControl]="false"
				 [styles]="styles"
				 [backgroundColor]="'#212121'">
	<agm-marker *ngFor="let point of points; let i = index"
							(markerClick)="showPoint(i)"
							[latitude]="point.location.coordinates[0]"
							[longitude]="point.location.coordinates[1]"
							[iconUrl]="'./assets/images/icons/maps-and-flags.png'"></agm-marker>
</agm-map>

<div class="container-slider agm-slider">
	<div class="uk-position-relative" id="agm-slider" uk-slider="finite: false; center: true">
		<ul class="uk-slider-items uk-grid">
			<li *ngFor="let point of points; let i = index" [attr.data-index]="i">
				<div class="uk-panel">
					<div uk-switcher="swiping: false; animation: uk-animation-slide-right-small, uk-animation-slide-left-small" uk-hidden>
						<div *ngFor="let point of points"></div>
					</div>
					<div class="uk-switcher uk-form">
						<div>
							<h4 class="uk-margin-remove">{{ point?.name }}</h4>
							<small>{{ point?.address }}</small>
							<ul class="uk-list uk-text-small">
								<li *ngIf="!point?.schedule.closed" class="uk-text-success">Открыто</li>
								<li *ngIf="point?.schedule.closed" class="uk-text-danger">Закрыто</li>
								<li>Ежедневно с {{ point?.schedule.open }} до {{ point?.schedule.close }}</li>
								<li>Заказы принимаются с {{ point?.schedule.start }} до {{ point?.schedule.end }}</li>
								<li>{{ point?.phone }}</li>
							</ul>
							<!--div class="uk-text-right">
								<button class="uk-button uk-button-primary uk-button-circle" uk-switcher-item="next"><i class="ico ico-envelope"></i></button>
							</div-->
						</div>
						<div>
							<div class="feedback">
								<form class="form-rows uk-form">
									<div class="row">
										<div class="row-label">
											<label for="name">Имя</label>
										</div>
										<div class="row-input">
											<input type="text"
														 class="uk-input"
														 id="name"
														 name="name"
														 formControlName="name"
														 [ngClass]="">
										</div>
									</div>
									<div class="row">
										<div class="row-label">
											<label for="phone">Телефон</label>
										</div>
										<div class="row-input">
											<input type="number"
														 class="uk-input"
														 id="phone"
														 name="phone"
														 formControlName="phone"
														 [ngClass]="">
										</div>
									</div>
									<div class="row">
										<div class="row-label">
											<label for="message">Сообщение</label>
										</div>
										<div class="row-input">
											<textarea type="text"
														 class="uk-input"
														 id="message"
														 name="message"
														 formControlName="message"
														 [ngClass]=""></textarea>
										</div>
									</div>
									<div class="uk-flex uk-flex-middle uk-flex-between uk-margin-top">
										<div>
											<a uk-switcher-item="previous"><i class="ico ico-chevron-left"></i> Назад</a>
										</div>
										<div>
											<button class="uk-button uk-button-primary uk-button-circle fill uk-button-shadow"><i class="ico ico-envelope"></i></button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>