@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?5w0crb');
	src:  url('../fonts/icomoon.eot?5w0crb#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?5w0crb') format('truetype'),
		url('../fonts/icomoon.woff?5w0crb') format('woff'),
		url('../fonts/icomoon.svg?5w0crb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ico {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-plus:before {
	content: "\e900";
	display: block;
	height: 19px;
	margin: 1px 0 0 1px; //fix visual effect
	transform: rotate(-45deg);
	transition-property: transform;
	transition-duration: .2s;
}
.ico-check:before {
	content: "\e944";
}
.ico-times:before {
	content: "\e900";
}
.ico-times-circle:before {
	content: "\e901";
}
.ico-minus:before {
	content: "\e902";
}
.ico-chevron-down:before {
	content: "\e903";
}
.ico-chevron-down-circle:before {
	content: "\e904";
}
.ico-chevron-left:before {
	content: "\e905";
}
.ico-chevron-left-circle:before {
	content: "\e906";
}
.ico-chevron-right:before {
	content: "\e907";
}
.ico-chevron-right-circle:before {
	content: "\e908";
}
.ico-chevron-up:before {
	content: "\e909";
}
.ico-chevron-up-circle:before {
	content: "\e90a";
}
.ico-minus-circle:before {
	content: "\e90b";
}
.ico-list:before {
	content: "\e90c";
}
.ico-hand:before {
	content: "\e90d";
}
.ico-alarm:before {
	content: "\e90e";
}
.ico-arrow-down:before {
	content: "\e90f";
}
.ico-arrow-down-circle:before {
	content: "\e910";
}
.ico-arrow-left:before {
	content: "\e911";
}
.ico-arrow-left-circle:before {
	content: "\e912";
}
.ico-arrow-right:before {
	content: "\e913";
}
.ico-arrow-right-circle:before {
	content: "\e914";
}
.ico-arrow-up:before {
	content: "\e915";
}
.ico-arrow-up-circle:before {
	content: "\e916";
}
.ico-bookmark:before {
	content: "\e917";
}
.ico-bubble:before {
	content: "\e918";
}
.ico-bullhorn:before {
	content: "\e919";
}
.ico-car:before {
	content: "\e91a";
}
.ico-cart:before {
	content: "\e91b";
}
.ico-cloud:before {
	content: "\e91c";
}
.ico-coffee-cup:before {
	content: "\e91d";
}
.ico-cog:before {
	content: "\e91e";
}
.ico-dinner:before {
	content: "\e91f";
}
.ico-drop:before {
	content: "\e920";
}
.ico-earth:before {
	content: "\e921";
}
.ico-enter:before {
	content: "\e922";
}
.ico-envelope:before {
	content: "\e923";
	position: absolute;
	top: 9px;
	left: 11px;
}
.fill .ico-envelope:before {
	top: 10px;
	left: 12px;
}
.ico-exit:before {
	content: "\e924";
}
.ico-eye:before {
	content: "\e925";
}
.ico-gift:before {
	content: "\e926";
}
.ico-heart:before {
	content: "\e927";
}
.ico-home:before {
	content: "\e928";
}
.ico-leaf:before {
	content: "\e929";
}
.ico-link:before {
	content: "\e92a";
}
.ico-lock:before {
	content: "\e92b";
}
.ico-map:before {
	content: "\e92c";
}
.ico-map-marker:before {
	content: "\e92d";
}
.ico-menu:before {
	content: "\e92e";
}
.ico-moon:before {
	content: "\e92f";
}
.ico-neutral:before {
	content: "\e930";
}
.ico-pencil:before {
	content: "\e931";
}
.ico-phone-handset:before {
	content: "\e932";
}
.ico-plus-circle:before {
	content: "\e933";
}
.ico-pointer-down:before {
	content: "\e934";
}
.ico-pointer-left:before {
	content: "\e935";
}
.ico-pointer-right:before {
	content: "\e936";
}
.ico-pointer-up:before {
	content: "\e937";
}
.ico-sad:before {
	content: "\e938";
}
.ico-smile:before {
	content: "\e939";
}
.ico-star:before {
	content: "\e93a";
}
.ico-star-empty:before {
	content: "\e93b";
}
.ico-star-half:before {
	content: "\e93c";
}
.ico-store:before {
	content: "\e93d";
}
.ico-sync:before {
	content: "\e93e";
}
.ico-thumbs-down:before {
	content: "\e93f";
}
.ico-thumbs-up:before {
	content: "\e940";
}
.ico-trash:before {
	content: "\e941";
}
.ico-user:before {
	content: "\e942";
}
.ico-users:before {
	content: "\e943";
}
