//
// Component:       Variables
// Description:     Defines common values which are used across all components
//
// ========================================================================


// Breakpoints
// ========================================================================

// Phone Portrait:   Galaxy (360x640), iPhone 6 (375x667), iPhone 6+ (414x736)
// Phone Landscape:  Galaxy (640x360), iPhone 6 (667x375), iPhone 6+ (736x414)
// Tablet Portrait:  iPad (768x1024), Galaxy Tab (800x1280),
// Tablet Landscape: iPad (1024x768), iPad Pro (1024x1366),
// Desktop:          Galaxy Tab (1280x800), iPad Pro (1366x1024)

$breakpoint-small:                              640px !default;  // Phone landscape
$breakpoint-medium:                             960px !default;  // Tablet Landscape
$breakpoint-large:                              1200px !default; // Desktop
$breakpoint-xlarge:                             1600px !default; // Large Screens

$breakpoint-xsmall-max:                         ($breakpoint-small - 1) !default;
$breakpoint-small-max:                          ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                         ($breakpoint-large - 1) !default;
$breakpoint-large-max:                          ($breakpoint-xlarge - 1) !default;


// Global variables
// ========================================================================

//
// Dark theme
//

$dark-theme: false !default;

//
// Main color
//

$u_main-color: #94b422;

//
// Typography
//

$global-font-family:                             -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$global-font-size:                               16px !default;
$global-line-height:                             1.5 !default;      // 24px

$global-xxlarge-font-size:                       2.625rem !default; // 42px
$global-xlarge-font-size:                        2rem !default;     // 32px
$global-large-font-size:                         1.5rem !default;   // 24px
$global-medium-font-size:                        1.25rem !default;  // 20px
$global-small-font-size:                         0.875rem !default; // 14px

//
// Colors
//

$global-color:                                   #666 !default;
$global-emphasis-color:                          #333 !default;
$global-muted-color:                             #999 !default;

$global-link-color:                              $u_main-color !default;
$global-link-hover-color:                        $u_main-color !default;

$global-inverse-color:                           #fff !default;

//
// Backgrounds
//

$global-background:                              #fff !default;

$global-muted-background:                        #f8f8f8 !default;
$global-primary-background:                      $u_main-color !default;
$global-secondary-background:                    #222 !default;

$global-success-background:                      #32d296 !default;
$global-warning-background:                      #faa05a !default;
$global-danger-background:                       #f0506e !default;

//
// Borders
//

$global-border-width:                            1px !default;
$global-border:                                  #e5e5e5 !default;

//
// Box-Shadows
//

$global-small-box-shadow:                        0 2px 8px rgba(0,0,0,0.08) !default;
$global-medium-box-shadow:                       0 5px 15px rgba(0,0,0,0.08) !default;
$global-large-box-shadow:                        0 14px 25px rgba(0,0,0,0.16) !default;
$global-xlarge-box-shadow:                       0 28px 50px rgba(0,0,0,0.16) !default;

//
// Spacings
//

// Used in margin, section, list
$global-margin:                                  20px !default;
$global-small-margin:                            10px !default;
$global-medium-margin:                           40px !default;
$global-large-margin:                            70px !default;
$global-xlarge-margin:                           140px !default;

// Used in grid, column, container, align, card, padding
$global-gutter:                                  30px !default;
$global-small-gutter:                            15px !default;
$global-medium-gutter:                           40px !default;
$global-large-gutter:                            70px !default;

//
// Controls
//

$global-control-height:                          40px !default;
$global-control-small-height:                    30px !default;
$global-control-large-height:                    55px !default;

//
// Z-index
//

$global-z-index:                                 1000 !default;

//
// Users vars
//

$u_header-border: #f5f5f5;
$u_footer-border: #f5f5f5;
$u_blocks-border: $u_footer-border;
// $u_gradient: linear-gradient(to top, #fff 5%, rgba(255,255,255,.85) 40%, rgba(255,255,255,.55) 70%, transparent 100%);
$u_gradient: linear-gradient(to top, #{$global-background} 5%, transparentize($global-background,.15) 40%, transparentize($global-background,.45) 70%, transparent 100%);


//
// Dark theme vars
//

@if $dark-theme {

	$global-emphasis-color: invert($global-emphasis-color);
	$global-color: invert($global-color);
	$global-inverse-color: invert($global-inverse-color);
	$global-muted-background: #171717;
	// $global-success-background: invert($global-success-background);
	// $global-warning-background: invert($global-warning-background);
	// $global-danger-background: invert($global-danger-background);
	$global-muted-color: invert($global-muted-color);
	$global-background: invert($global-background);
	// $global-secondary-background: invert($global-secondary-background);
	// $base-ins-background: invert($base-ins-background);
	// $base-mark-background: invert($base-mark-background);
	$global-border: invert($global-border);
	// $base-selection-background: invert($base-selection-background);
	// $lightbox-background: invert($lightbox-background);
	// $lightbox-toolbar-icon-hover-color: invert($lightbox-toolbar-icon-hover-color);
	// $lightbox-button-hover-color: invert($lightbox-button-hover-color);
	// $table-row-active-background: invert($table-row-active-background);
	// $tooltip-background: invert($tooltip-background);
	// $box-shadow-bottom-background: invert($box-shadow-bottom-background);

	$u_header-border: $global-background;
	$u_footer-border: $global-background;
	$u_blocks-border: $u_footer-border;
	$u_gradient: linear-gradient(to top, #{$global-background} 5%, transparentize($global-background,.15) 40%, transparentize($global-background,.45) 70%, transparent 100%);

}
