<div class="container-order container-padding">
	<div uk-switcher="swiping: false; animation: uk-animation-slide-right-small, uk-animation-slide-left-small" uk-hidden>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="uk-switcher uk-form">
		<div>
			<h4>Оформление заказа</h4>
			<form [formGroup]="orderForm" class="form-rows" novalidate>
				<div class="row">
					<div class="row-label">
						<label for="name">Имя</label>
					</div>
					<div class="row-input">
						<input type="text"
									 class="uk-input"
									 id="name"
									 name="name"
									 formControlName="name"
									 [ngClass]="{'required': orderForm.controls.name.invalid && (orderForm.controls.name.dirty || orderForm.controls.name.touched) }">
					</div>
				</div>
				<div class="row">
					<div class="row-label">
						<label for="phone">Телефон</label>
					</div>
					<div class="row-input">
						<input type="number"
									 class="uk-input"
									 id="phone"
									 name="phone"
									 formControlName="phone"
									 [ngClass]="{ 'required': orderForm.controls.phone.invalid && (orderForm.controls.phone.dirty || orderForm.controls.phone.touched) }">
					</div>
				</div>
				<div class="row">
					<div>
						<div class="row-label">
							<label for="type">Тип заказа</label>
						</div>
						<div class="row-input">
							<select class="uk-select"
											id="type"
											name="type"
											formControlName="deliveryType"
											[ngClass]="{ 'required': orderForm.controls.deliveryType.invalid && (orderForm.controls.deliveryType.dirty || orderForm.controls.deliveryType.touched) }">
								<option *ngFor="let type of deliveryType" [value]="type">{{ type }}</option>
							</select>
						</div>
					</div>
				</div>
				<div *ngIf="isDeliveryOrder || isPickupOrder" class="row">
					<div>
						<div class="row-label">
							<label for="time">Время доставки</label>
						</div>
						<div class="row-input">
							<select class="uk-select"
											id="time"
											name="time"
											formControlName="deliveryTime"
											[ngClass]="{ 'required': orderForm.controls.deliveryTime.invalid && (orderForm.controls.deliveryTime.dirty || orderForm.controls.deliveryTime.touched) }">
								<option *ngFor="let time of deliveryTime" [value]="time">{{ time }}</option>
							</select>
						</div>
					</div>
				</div>
				<div *ngIf="isDeliveryOrder" class="row">
					<div class="row-label">
						<label for="street">Улица</label>
					</div>
					<div class="row-input">
						<input type="text"
									 class="uk-input"
									 id="street"
									 name="street"
									 formControlName="street"
									 [ngClass]="{ 'required': orderForm.controls.street.invalid && (orderForm.controls.street.dirty || orderForm.controls.street.touched) }">
					</div>
				</div>
				<div *ngIf="isDeliveryOrder" class="row multiple">
					<div>
						<div class="row-label">
							<label for="house">Дом</label>
						</div>
						<div class="row-input">
							<input type="text"
										 class="uk-input"
										 id="house"
										 name="house"
										 formControlName="house"
										 [ngClass]="{ 'required': orderForm.controls.house.invalid && (orderForm.controls.house.dirty || orderForm.controls.house.touched) }">
						</div>
					</div>
					<div>
						<div class="row-label">
							<label for="apartment">Квартира</label>
						</div>
						<div class="row-input">
							<input type="number"
										 class="uk-input"
										 id="apartment"
										 name="apartment"
										 formControlName="apartment"
										 [ngClass]="{ 'required': orderForm.controls.apartment.invalid && (orderForm.controls.apartment.dirty || orderForm.controls.apartment.touched) }">
						</div>
					</div>
				</div>
				<div *ngIf="isDeliveryOrder" class="row multiple">
					<div>
						<div class="row-label">
							<label for="entrance">Подъезд</label>
						</div>
						<div class="row-input">
							<input type="number"
										 class="uk-input"
										 id="entrance"
										 name="entrance"
										 formControlName="entrance">
						</div>
					</div>
					<div>
						<div class="row-label">
							<label for="door">Код двери</label>
						</div>
						<div class="row-input">
							<input type="number"
										 class="uk-input"
										 id="door"
										 name="door"
										 formControlName="door">
						</div>
					</div>
					<div>
						<div class="row-label">
							<label for="floor">Этаж</label>
						</div>
						<div class="row-input">
							<input type="number"
										 class="uk-input"
										 id="floor"
										 name="floor"
										 formControlName="floor">
						</div>
					</div>
				</div>
				<div class="uk-margin-top">
					<div class="uk-text-right" *ngIf="isDeliveryOrder">
						<button [disabled]="orderForm.controls.name.invalid ||
										orderForm.controls.phone.invalid ||
										orderForm.controls.deliveryTime.invalid ||
										orderForm.controls.deliveryType.invalid ||
										orderForm.controls.street.invalid ||
										orderForm.controls.house.invalid ||
										orderForm.controls.apartment.invalid"
										[attr.uk-switcher-item]="orderForm.controls.name.invalid ||
										orderForm.controls.phone.invalid ||
										orderForm.controls.deliveryTime.invalid ||
										orderForm.controls.deliveryType.invalid ||
										orderForm.controls.street.invalid ||
										orderForm.controls.house.invalid ||
										orderForm.controls.apartment.invalid ? disabled : 'next'" class="uk-button uk-button-primary uk-button-shadow">Дальше <i class="ico ico-chevron-right"></i></button>
					</div>

					<div class="uk-text-right" *ngIf="isPickupOrder">
						<button [disabled]="orderForm.controls.name.invalid ||
										orderForm.controls.phone.invalid ||
										orderForm.controls.deliveryTime.invalid ||
										orderForm.controls.deliveryType.invalid"
										[attr.uk-switcher-item]="orderForm.controls.name.invalid ||
										orderForm.controls.phone.invalid ||
										orderForm.controls.deliveryTime.invalid ||
										orderForm.controls.deliveryType.invalid ? disabled : 'next'" class="uk-button uk-button-primary uk-button-shadow">Дальше <i class="ico ico-chevron-right"></i></button>
					</div>

					<div class="uk-text-right" *ngIf="isExpressOrder">
						<button (click)="checkoutOrder()"
										[disabled]="orderForm.controls.name.invalid ||
										orderForm.controls.phone.invalid ||
										orderForm.controls.deliveryType.invalid" uk-switcher-item="next" class="uk-button uk-button-primary uk-button-shadow">Дальше <i class="ico ico-chevron-right"></i></button>
					</div>
				</div>
			</form>
		</div>
		<div *ngIf="isDeliveryOrder">
			<h4>Способ оплаты</h4>
			<form [formGroup]="paymentForm" class="form-rows" novalidate>
				<div class="row">
					<div class="row-input">
						<input type="radio"
									 class="uk-radio"
									 id="payment-method1"
									 name="paymentMethod"
									 formControlName="paymentMethod"
									 value="Наличными">
						<label for="payment-method1"><i class="ico ico-check"></i> Наличными</label>
						<div class="attachment">
							<input type="checkbox"
										 class="uk-checkbox"
										 id="no-change"
										 name="change"
										 formControlName="change"
										 value="Без сдачи">
							<label for="no-change"><i class="ico ico-check"></i> Без сдачи</label>
							<div class="attachment">
								<label for="change">Сдача с суммы: </label>
								<input type="text"
											 class="uk-input uk-form-width-small uk-text-center"
											 id="change"
											 name="change"
											 formControlName="change">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row-input">
						<input type="radio"
									 class="uk-radio"
									 id="payment-method2"
									 name="paymentMethod"
									 formControlName="paymentMethod"
									 value="Банковской картой курьеру">
						<label for="payment-method2"><i class="ico ico-check"></i> Банковской картой курьеру</label>
					</div>
				</div>
			</form>
			<div class="uk-flex uk-flex-middle uk-flex-between uk-margin-top">
				<div>
					<a uk-switcher-item="previous"><i class="ico ico-chevron-left"></i> Назад</a>
				</div>
				<div>
					<button (click)="paymentForm.controls.paymentMethod.invalid ? '' : checkoutOrder()"
									[disabled]="paymentForm.controls.paymentMethod.invalid"
									[attr.uk-switcher-item]="paymentForm.controls.paymentMethod.invalid ? disabled : 'next'"
									class="uk-button uk-button-primary uk-button-shadow">Дальше</button>
				</div>
			</div>
		</div>
		<div *ngIf="isPickupOrder">
			<h4>Где Вам удобнее получить заказ?</h4>
			<form [formGroup]="pickupForm" class="form-rows" novalidate>
				<div *ngFor="let point of points; let i = index" class="row">
					<div class="row-input">
						<input type="radio"
									 class="uk-radio"
									 id="pickupPoint{{ i }}"
									 name="pickupPoint"
									 formControlName="pickupPoint"
									 value="{{ i }}">
						<label for="pickupPoint{{ i }}"><i class="ico ico-check"></i> {{ point?.name }}</label>
					</div>
				</div>
			</form>
			<div class="uk-flex uk-flex-middle uk-flex-between uk-margin-top">
				<div>
					<a uk-switcher-item="previous"><i class="ico ico-chevron-left"></i> Назад</a>
				</div>
				<div>
					<button (click)="checkoutOrder()" uk-switcher-item="next" class="uk-button uk-button-primary uk-button-shadow">Дальше</button>
				</div>
			</div>
		</div>
		<div *ngIf="isCheckoutSuccess">
			<h4>Спасибо!</h4>
			<p>Ваш заказ успешно оформлен! Оператор перезвонит вам в самое ближашее время.</p>
			<div class="uk-flex uk-flex-middle uk-flex-between">
				<div>
					<a routerLink="/home"><i class="ico ico-home"></i> На главную</a>
				</div>
			</div>
		</div>
	</div>
</div>