//
// Core
//

@import "components/_import.scss";



//
// VARS
// --------------------------------------------------------------------------
$u_border-radius: 15px;
$u_box-shadow: 0 5px 25px rgba(0,0,0,.1);
$u_box-shadow-colorized: 0 5px 25px transparentize($global-primary-background, 0.6);
$u_box-shadow-required: 0 5px 25px transparentize($global-danger-background, 0.6);
$u_box-shadow-bw: 0 5px 25px rgba(0,0,0,.4);
$u_button-border-radius: $button-line-height/2;
$u_header-height: 60px;
$u_margin-bottom-menu: 50px;
$u_bottom-menu-height: 60px;
// $u_height-container: 100% - $u_header-height;
$u_container-product-img-height: 260px;





@mixin pseudo($color, $bg-color: inherit) {
	&:active,
	&:hover,
	&:focus {
		text-decoration: none;
		background-color: $bg-color;
		color: $color;
	}
}

%container-border-radius {
	border-radius: 20px 20px 0 0;
}

%input-style {
	input,
	select,
	textarea {
		border: 1px solid $global-muted-background;
		border-radius: $global-control-height/2;
		font-size: 14px;
		transition-duration: .2s;
		transition-property: background, box-shadow, border-color;

		&:focus {
			box-shadow: $u_box-shadow-colorized;
			border-color: $u_main-color;
		}

		&.required {
			box-shadow: $u_box-shadow-required;
			border-color: $global-danger-background;
		}
	}

	textarea {
		resize: none;
		min-height: 80px;
	}
}

.uk-cover-container {
	// background-color: red;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}



*:active,
*:hover,
*:focus,
*::-moz-focus-inner {
	outline: none !important;
	outline-style: none !important;
	outline-width: 0px !important;
	outline-color: none !important;
}

a, a:active, a:hover, a:focus,
[ng-reflect-router-link],
[ng-reflect-router-link]:active,
[ng-reflect-router-link]:hover,
[ng-reflect-router-link]:focus {
	text-decoration: none;
}

.fix-jumping {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $global-background;
	z-index: 9999;
}

.lazy-load-body {
	@extend %animation, %fade-in-body;

	.fix-jumping {
		display: none;
	}
}

img {
	@extend %animation, %fade-in;
}






.uk-card,
.uk-panel {
	border-radius: $u_border-radius;
	// box-shadow: $u_box-shadow;
	overflow: hidden;
}

.uk-card img {
	border-radius: $u_border-radius;
}









// header {
// 	$ident: 10px;

// 	position: relative;
// 	height: 49px;
// 	left: 0;
// 	top: 0;
// 	right: 0;
// 	z-index: 3;

	.go-back {
		$ident: 10px;

		button {
			margin-top: $ident;
			margin-left: $ident;
			background-color: $global-background !important;
			border: none !important;
			z-index: 3;
		}
	}

	.header-cart {
		$ident: 10px;

		a {
			padding: 10px;
			border-radius: 20px;
			position: fixed;
			min-width: 56px; // 3 letters width
			top: $ident;
			right: $ident;
			line-height: 20px;
			height: 20px;
			z-index: 981; // higher than uk-sticky

			// background-color: $global-background;
			background-color: $global-primary-background;
			color: $global-background;
			box-shadow: $u_box-shadow-colorized;

			display: block;
			// opacity: 0;

			will-change: transform, opacity;

			@extend %animation;

			span {
				margin-left: 5px;
			}
		}

		&:not(.noempty):not(.bounce-in-down):not(.bounce) {
			opacity: 0;
		}

		&.bounce-in-down a {
			@extend %bounce-in-down;
		}

		&.bounce a {
			@extend %bounce;
		}
		
		&.bounce:not(.noempty) a {
			@extend %fade-out-up;
		}
	}
// }

[class^="container-"] {
	position: relative;
	background-color: $global-background;
	// z-index: 2;
}

.container-padding {
	padding: $global-margin;
}

.container-slider {
	overflow: hidden;

	.uk-slider {
		// margin-top: 20px;
		overflow: visible;

		.uk-grid-small {
			margin-left: -20px;

			& > * {
				padding-left: 20px;
			}
		}
	}

	.price {
		color: $global-primary-background;
	}
}

.container-topping {
	// border-radius: 10px;
	// padding: 10px;
	// border: 1px solid $u_blocks-border;
	// box-shadow: $u_box-shadow-colorized;
	padding-top: 0;

	.topping-title {
		height: 40px;
	}

	.topping-cat-title {
		font-style: italic;
	}
}

.container-categories {
	padding-top: $global-margin;
	padding-bottom: 0;
	margin-bottom: $u_bottom-menu-height;
	// overflow: hidden;

	& + .container-favorite {
		margin-bottom: $u_bottom-menu-height;
	}

	.categories-wrapper {
		overflow: hidden;
	}

	&.expand {
		overflow: visible;
		padding-bottom: $global-margin;
		margin-bottom: 0;
		
		.categories-wrapper {
			height: auto;
		}

		.wrapper-gradient {
			display: none;
		}

		.button-wrapper-expand {
			display: none;
		}
	}

	.categories-wrapper {
		height: 400px;
		// overflow: hidden;
		position: relative;

		.wrapper-gradient {
			background: $u_gradient;
			height: 100px;
			position: absolute;
			bottom: 0;
			left: -$global-margin;
			right: -$global-margin;
		}

		// &.expand {
		//     height: auto;

		//     .wrapper-gradient {
		//         display: none;
		//     }

		//     & + .button-wrapper-expand {
		//         display: none;
		//     }
		// }

		& > [uk-grid] > div > .uk-card {
			padding: 0;
			// box-shadow: $u_box-shadow;

			h5 {
				margin: 10px 0;
			}
		}
	}

	.uk-button {
		position: absolute;
		margin-top: -20px;
		padding: 11.5px 0;
		width: 39px;
		height: 39px;
		left: calc(50% - (40px/2));
	}
}

.container-products {
	margin-top: 54%;
	@extend %container-border-radius;

	&:last-child {
		// margin-bottom: $u_bottom-menu-height;
	}

	& > .item:last-child {
		margin-bottom: $u_bottom-menu-height;
	}

	.item {
		width: 100%;
		margin-bottom: $global-margin;

		.image {
			$size: 84px;

			width: $size;
			height: $size;
			border-radius: $u_border-radius;
		}

		.descr {
			padding-left: 15px;
			padding-right: 5px;

			.price {
				color: $global-primary-background;
				font-weight: 500;
			}
		}
	}

	&.container-cart {
		margin-top: 0px;
		margin-bottom: $u_bottom-menu-height;

		.btn a {
			width: 30px;
			padding: 5px 0;
		}

		.count {
			vertical-align: middle;
		}

		.item .image {
			$size: 50px;

			width: $size;
			height: $size;
		}

		.topping-list {
			border-left: 1px solid $global-border;

			.item {
				margin-bottom: 5px;
			}
		}

		.total {

			span {
				color: $u_main-color;
			}

			.price {
				// font-size: 18px;
			}
		}
	}

	.container-slider {
		margin-bottom: $global-margin;
	}
}

.container-product-img {
	overflow: hidden;
	position: fixed;
	top: 0;
	// padding-top: 25px;
	background-color: $global-background;

	.overlay {
		// height: $u_container-product-img-height;
	}

	.uk-overlay-default {
		padding-top: 60px;
		background: $u_gradient;
	}
}

.container-product {
	position: relative;
	margin-top: 54%;
	margin-bottom: $u_bottom-menu-height;
	// background-color: $global-background;
	
	@extend %container-border-radius;

	&.margin-remove {
		margin-top: 0 !important;
	}

	.price {
		color: $global-primary-background;

		.generator-list {
			color: $global-emphasis-color;
		}
	}
}

// ==========================================================================
// ORDER Container
// ==========================================================================
.container-order {
	margin-bottom: $u_bottom-menu-height;
}

// ==========================================================================
// BUTTONS
// ==========================================================================
.uk-button {
	border-radius: $u_button-border-radius;

	@include pseudo(inherit);
	
	&-shadow {
		box-shadow: $u_box-shadow-colorized;
	}

	&-circle {
		background: none;
		border: 1px solid $global-primary-background;
		color: $global-primary-background;
		width: 39px;
		height: 39px;
		padding: 9px;
		position: relative;

		@include pseudo($global-background, $global-primary-background);

		&:hover,
		&:active {
			@extend %animation, %btn-pulse;
		}

		&.fill {
			background: $global-primary-background;
			border: none;
			color: $global-background;

			@include pseudo($global-background);
		}
	}

	&-primary {
		@include pseudo($global-primary-background, $global-background);

		&.uk-button-shadow {
			@include pseudo($global-background, $global-primary-background);
		}
	}

	&-secondary {
		background-color: #333;
		color: #eee;

		@include pseudo(#eee);

		&.uk-button-shadow {
			box-shadow: $u_box-shadow-bw;
		}
	}

	&.only-icon {
		$size: 29px;

		width: $size;
		height: $size;
		padding: 5px;
		border: none;
	}

	&[disabled] {
		opacity: .5;
		border-color: gray !important;
		color: gray !important;
		background-color: transparent !important;
		box-shadow: none !important;

		@include pseudo(gray);

		&:not(.only-icon)[disabled] {
			border: 1px solid gray !important;
		}

		&:hover {
			@extend %animation, %shake;
		}
	}
}

//
// MULTIPLE STRUCTURE
// --------------------------------------------------------------------------

.multiple-btn {
	display: flex;
	align-items: center;

	.btn-main {
		$size-def: 135px;
		$size-circle: 39px;

		width: $size-def;
		transition-duration: .2s;
		transition-property: width;

		&.uk-button-circle {
			width: $size-circle;
			height: $size-circle;
		}
	}

	.uk-button {

		.first-el {
			display: block;
		}

		.second-el {
			display: none;
		}
	}

	.btn-count {
		// position: absolute;

		transition-property: opacity, transform, position;
		transition-duration: .2s;
		visibility: hidden;
		display: none;
		opacity: 0;
		transform: translateX(15px);

		.count {
			margin: 0 5px;
			vertical-align: middle;
		}
	}

	&.active {
		
		.btn-main {
			background-color: $global-primary-background;
			color: $global-background;
			width: 39px;
			padding: 11.5px 0;
			margin-left: 20px;

			.first-el {
				display: none;
			}

			.second-el {
				display: block;
			}

			.anim-ico {

				.ico:before {
					transform: rotate(0deg);
					margin: 0; //fix visual effect in "icofonts.scss" at ".ico-plus:before" class
				}
			}
		}
		
		.btn-count {
			position: relative;

			visibility: visible;
			display: block;
			opacity: 1;
			transform: translateX(0);
		}

		.uk-button-primary {
			@include pseudo($global-background, $global-primary-background);
		}
	}
}

// ==========================================================================
// MOBILE BOTTOM MENU
// ==========================================================================
.container-bottom-menu {
	height: $u_bottom-menu-height;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $global-background;
	border-top: 1px solid $u_footer-border;

	.uk-flex {
		height: $u_header-height;
	}

	a {
		padding: 22px 0;
		display: block;
	}

	a.active .ico {
		color: $global-primary-background;
	}

	.ico {
		width: 100%;
		padding: 20px 0;
		color: #aaa;

		&:hover {
			color: $global-primary-background;
		}
	}
}

// ==========================================================================
// MODAL WINDOW
// ==========================================================================
.uk-modal {

	.container-products {
		margin-top: 0;
	}

	.uk-modal-dialog {
		border-radius: $u_border-radius;
		box-shadow: $u_box-shadow;
		background-color: $global-background;
	}

	.uk-modal-close {
		padding: 10px;
		margin: 15px;
	}
}

.uk-modal-page body app-root > *:not(.uk-modal),
.uk-modal-page body app-root > *:not(.uk-modal) > *,
.uk-modal-page body app-root > *:not(.uk-modal) > * > * {
	filter: blur(4px);
}
.uk-modal-page .container-product-img {
	opacity: 0;
}

.uk-modal .container-products {

	& > .item:last-child {
		margin-bottom: 0;
	}
}

.menu-modal {
	display: none;
	position: fixed;
	overflow-y: auto;
	width: 100%;
	max-width: 100%;
	top: 0;
	left: 0;
	bottom: $u_bottom-menu-height+1;
	background-color: $global-background;
	z-index: 999;

	.content {
		padding: $global-margin;
		color: $global-emphasis-color;

		.profile {
			padding-bottom: $global-margin;
			margin-bottom: $global-margin;
			border-bottom: 1px solid $u_blocks-border;

			.photo img {
				width: 50px;
			}
		}

		.menu-list a {
			display: block;
			padding: 10px 0;
			line-height: 20px;
			color: $global-color;
			font-weight: 100;

			&.active {
				color: $u_main-color;
			}

			span {
				margin-right: 10px;
			}
		}
	}
}

.view-menu-modal {
	overflow: hidden;
}

.view-menu-modal .menu-modal {
	display: block;
}

// ==========================================================================
// GOOGLE MAP
// ==========================================================================
agm-map {
	$height-license-panel: 25px;

	height: calc(100% - #{$u_header-height - $height-license-panel});
}

.agm-slider {
	width: 100%;
	position: absolute;
	bottom: $u_header-height;
	background: none;

	.uk-slider-items { // ul
		margin: 0 !important;
		padding: $global-margin/2 0 !important;
		align-items: flex-end;

		& > * { // li
			width: 85%;
			height: fit-content;
			background-color: $global-background;
			box-shadow: $u_box-shadow-bw;
			border-radius: $u_border-radius;
			padding: 0 !important;
			margin: 0 5px;

			.uk-panel {
				margin: $global-margin;
				border-radius: 0;
				overflow: visible;

				.uk-list {
					margin-bottom: 0;

					& > li {
						margin: 0;
					}
				}
			}
		}
	}
}

// ==========================================================================
// LOADING SCREEN
// ==========================================================================
.loading-screen {
	background-color: $global-background;
}

.double-bounce {
	$size: 40px;
	$margin: 40px;
	$color: $u_main-color;

	width: $size;
	height: $size;
	position: relative;
	margin: $margin;

	.child {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $color;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		animation: doubleBounce 2.0s infinite ease-in-out;
	}

	.double-bounce2 {
		animation-delay: -1.0s;
	}
}

@keyframes doubleBounce {
	0%, 100% { transform: scale(0) }
	50% { transform: scale(1.0) }
}

// ==========================================================================
// NOTIFICATIONS
// ==========================================================================
.uk-notification {
	$margin: 10px;

	top: $margin;
	left: $margin;
	right: $margin;

	.uk-notification-message {
		background-color: rgba(255,255,255,.98);
		border-radius: $u_border-radius;
		box-shadow: 0 5px 25px rgba(255,255,255,.35);;
		font-size: 14px;

		.notif-content {

			.notif-img {
				$size: 50px;

				width: $size;
				height: $size;
				border-radius: $u_border-radius;
			}

			.notif-text {
				margin-left: 15px;
				color: $global-background;
			}
		}
	}

	.uk-close {
		display: none !important;
	}
}

// ==========================================================================
// CITY BOX
// ==========================================================================
.city-box {
	$ident: 10px;
	$padding: 15px;

	position: fixed;
	left: $ident;
	top: $ident;
	right: $ident;
	z-index: 982; // higher than cart

	@extend %animation, %fade-in-down;

	&.out {
		@extend %fade-out-up;
	}

	.container {
		border-radius: $u_border-radius;
		background-color: $global-muted-background;
		box-shadow: $u_box-shadow-bw;
		padding: $padding;

		@extend %input-style;

		form {
			margin: 0;
		}
	}
}

// ==========================================================================
// FORMS
// ==========================================================================
.form-rows {
	margin-bottom: 0;

	.row {
		margin-bottom: $global-margin;

		&:last-child {
			margin-bottom: 0;
		}

		&.multiple {
			
			@extend .uk-flex, .uk-flex-middle, .uk-flex-between;

			> div {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&.inline {
			
			@extend .uk-flex, .uk-flex-middle, .uk-flex-right;

			.row-label {
				margin-right: 10px;
			}
		}

		.row-label {
			margin-bottom: 5px;
			font-size: 14px;
		}

		.row-input {

			@extend %input-style;

			.uk-radio,
			.uk-checkbox {
				position: absolute;
				visibility: hidden;

				+ label,
				+ label:active,
				+ label:hover,
				+ label:focus {

					@extend .uk-button, .uk-button-primary;

					position: relative;
					background: none;
					border: 1px solid $global-color;
					color: $global-color;
					line-height: 35px;
					padding: 0 15px;
					transition-duration: .2s;
					transition-property: padding-left, border-color, color;

					.ico {
						position: absolute;
						top: 9px;
						left: 9px;
						transition-duration: .2s;
						transition-property: opacity;
						opacity: 0;
					}

					+ .attachment {
						margin-top: $global-margin;
						display: none;

						input {

							& + label + .attachment {
								display: block;
							}

							&:checked {

								& + label + .attachment {		// ¯\_(ツ)_/¯
									display: none;
								}
							}
						}
					}
				}

				&:checked {

					+ label {
						border-color: $u_main-color;
						color: $global-background;
						background-color: $u_main-color;
						padding-left: 34px;

						.ico {
							color: $global-background;
							opacity: 1;
						}

						+ .attachment {
							display: block;

							input {

								& + label + .attachment {
									display: block;
								}

								&:checked {

									& + label + .attachment {		// ¯\_(ツ)_/¯
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// ==========================================================================
// GENERATOR
// ==========================================================================
.generator {

	.row {
		// text-align: center;
	}
}

// ==========================================================================
// ANIMATIONS
// ==========================================================================
%animation {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

//
// SHAKE
// --------------------------------------------------------------------------
@keyframes shake {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	6.5% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	18.5% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	31.5% {
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
	43.5% {
		-webkit-transform: translateX(2px);
		transform: translateX(2px);
	}
	50% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

%shake {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: shake;
	animation-name: shake;
}

//
// BOUNCE IN DOWN
// --------------------------------------------------------------------------
@keyframes bounce-in-down {
	from, 60%, 75%, 90%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

%bounce-in-down {
	-webkit-animation-name: bounce-in-down;
	animation-name: bounce-in-down;
}

//
// BOUNCE
// --------------------------------------------------------------------------
@keyframes bounce {
	from,	20%, 53%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	40%, 43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	} 
	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	} 
	90% {
		-webkit-transform: translate3d(0, -4px, 0);
		transform: translate3d(0, -4px, 0);
	}
}

%bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

//
// FADE OUT UP
// --------------------------------------------------------------------------
@keyframes fade-out-up {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

%fade-out-up {
	-webkit-animation-name: fade-out-up;
	animation-name: fade-out-up;
}

//
// FADE IN DOWN
// --------------------------------------------------------------------------
@keyframes fade-in-down {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

%fade-in-down {
	-webkit-animation-name: fade-in-down;
	animation-name: fade-in-down;
}

//
// BTN PULSE
// --------------------------------------------------------------------------
@keyframes btn-pulse {
	from {
		box-shadow: 0 0 0 0 transparentize($u_main-color, 0);
	}
	to {
		box-shadow: 0 0 0 15px transparentize($u_main-color, 1);
	}
}

%btn-pulse {
	-webkit-animation-name: btn-pulse;
	animation-name: btn-pulse;
}

//
// FADE IN
// --------------------------------------------------------------------------
@keyframes fade-in-body {
	0%, 10%, 20%, 30%, 40%, 50%, 60% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

%fade-in-body {
	-webkit-animation-duration: .7s !important;
	animation-duration: .7s !important;
	-webkit-animation-name: fade-in-body;
	animation-name: fade-in-body;
}

%fade-in {
	-webkit-animation-name: fade-in;
	animation-name: fade-in;
}