<div class="container-products container-cart container-padding">
  <h4>Корзина</h4>

  <!-- ЭЛЕМЕНТ -->
  <div *ngFor="let product of products" class="uk-margin-bottom">
    <div class="uk-flex uk-flex-middle item">
      <div class="image uk-cover-container">
        <a [routerLink]="['/product', product._id]">
          <picture>
            <source *ngFor="let image of product?.images"
                    type="image/{{ image.ext }}"
                    media="(max-width: {{ image.width * 2 }}px)"
                    srcset="{{ apiUrl }}{{ image.src }}">
            <img src="{{ apiUrl }}{{ product?.images[5].src }}"
                 alt="{{ product?.title }}">
          </picture>
        </a>
      </div>
      <div [routerLink]="['/product', product._id]" class="descr uk-width-expand">
        <h5 class="uk-margin-remove uk-text-truncate" *ngIf="product.components === undefined">{{ product?.title }}</h5>
        <h5 class="uk-margin-remove uk-text-truncate" *ngIf="product.components !== undefined">{{ product?.components.list }}</h5>
        <p class="uk-margin-remove price">{{ product?.price * product?.count }} ₽ <small *ngIf="product?.count > 1" class="uk-text-meta">({{ product?.price }} ₽)</small></p>
      </div>
      <div class="btn">
        <button [disabled]="product?.count <= 1" (click)="product.components !== undefined ? deleteProductWithComponentsFromCart(product) : deleteProductFromCart(product)" class="uk-button uk-button-primary uk-button-circle only-icon"><i class="ico ico-minus-circle"></i></button>
        <span class="count">{{ product?.count }}</span>
        <button [disabled]="product?.count >= 10" (click)="product.components !== undefined ? addProductWithComponentsToCart(product) : addProductToCart(product)" class="uk-button uk-button-primary uk-button-circle only-icon"><i class="ico ico-plus-circle"></i></button>
        <button (click)="product.components !== undefined ? deleteProductWithComponentsFullFromCart(product) : deleteProductFullFromCart(product)" class="uk-button uk-button-link uk-link-muted uk-button-circle uk-margin-small-left only-icon"><i class="ico ico-times"></i></button>
      </div>
    </div>
    <div *ngIf="product?.toppings !== undefined && product?.toppings.list.length > 0" class="topping-list">
      <div *ngFor="let topping of product.toppings.list" class="item uk-flex uk-flex-middle uk-flex-between">
        <div class="descr">
          <h5 class="uk-margin-remove uk-text-truncate">{{ topping.title }}</h5>
          <p class="uk-margin-remove price uk-text-small">{{ topping.price * topping?.count }} ₽ <small *ngIf="topping?.count > 1" class="uk-text-meta">({{ topping?.price }} ₽)</small></p>
        </div>
        <div class="btn">
          <button [disabled]="topping?.count <= 1" (click)="deleteToppingFromProduct(product?._id, topping?._id)" class="uk-button uk-button-primary uk-button-circle only-icon"><i class="ico ico-minus-circle"></i></button>
          <span class="count">{{ topping?.count }}</span>
          <button [disabled]="topping?.count >= 10" (click)="addToppingToProduct(topping, product?._id)" class="uk-button uk-button-primary uk-button-circle only-icon"><i class="ico ico-plus-circle"></i></button>
          <button (click)="deleteToppingFullFromProduct(product?._id, topping?._id)" class="uk-button uk-button-link uk-link-muted uk-button-circle uk-margin-small-left only-icon"><i class="ico ico-times"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /ЭЛЕМЕНТ -->

  <div  *ngIf="totalCart < 1">
    <p>Ваша корзина пуста</p>
  </div>
  <div  *ngIf="totalCart > 0">
    <hr>
    <div class="total uk-text-right">
      <div class="price">Итого: <span>{{ totalCart | number }} ₽</span></div>
      <a routerLink="/order" class="uk-button uk-button-primary uk-button-shadow uk-margin-top">Оформить заказ</a>
    </div>
  </div>
</div>

