<div class="container-product-img">
	<div class="overlay uk-inline">
		<picture>
			<source *ngFor="let image of product?.images"
							type="image/{{ image.ext }}"
							media="(max-width: {{ image.width }}px)"
							srcset="{{ apiUrl }}{{ image.src }}">
			<img src="{{ defaultImage }}"
					 alt="{{ product?.title }}">
		</picture>
	</div>
</div>
<div class="container-product container-padding">
	<div class="product-card">
		<h3>{{ product?.title }}</h3>
		<p class="uk-text-meta" style="font-style: italic;">330 г.</p>
		<p class="uk-text-meta">{{ product?.composition }}</p>
		<p class="uk-text-meta" style="font-size:20px">{{ product?.emoji }}</p>

		<div class="uk-flex uk-flex-middle uk-flex-between">
			<div class="uk-width-expand"><p class="price uk-margin-remove">{{ product?.price }} ₽</p></div>
			<div class="uk-text-right">
				<button *ngIf="isHideGenerator"
					 (click)="addMore()"
					 class="uk-button uk-button-primary uk-button-shadow">
					Добавить еще
				</button>
			</div>
		</div>

		<!-- PRODUCT GENERATOR -->
		<div *ngIf="isComponentsIncluded && !isHideGenerator" class="generator">
			<div uk-switcher="swiping: false; animation: uk-animation-slide-right-small, uk-animation-slide-left-small" uk-hidden>
				<div *ngFor="let component of components"></div>
			</div>
			<form [formGroup]="componentsForm" class="uk-switcher uk-margin uk-form" novalidate>
				<div *ngFor="let component of components; let i = index">
					<h3>{{ component?.title }}</h3>
					<div class="form-rows">
						<div *ngFor="let product of component?.products" class="row">
							<div class="row-input">
								<input type="radio"
											 class="uk-radio"
											 id="{{ product?._id }}"
											 name="{{ component?._id }}"
											 formControlName="{{ component?._id }}"
											 value="{{ product?.title }}">
								<label for="{{ product?._id }}"><i class="ico ico-check"></i> {{ product?.title }}</label>
							</div>
						</div>
					</div>
					<div class="uk-flex uk-flex-middle uk-flex-between">
						<div>
							<a *ngIf="i > 0" uk-switcher-item="previous"><i class="ico ico-chevron-left"></i> Назад</a>
						</div>
						<div>
							<button *ngIf="i !== components.length - 1" uk-switcher-item="next" class="uk-button uk-button-primary uk-button-shadow">Дальше</button>
							<div *ngIf="i === components.length - 1">
								<button (click)="addProductWithComponentsToCart(product, componentsForm.value)"
												class="btn-main uk-button uk-button-primary uk-button-shadow">
									<span class="first-el uk-text-nowrap">В корзину</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- /PRODUCT GENERATOR -->
	</div>
</div>

<app-toppings-modal></app-toppings-modal>