<div class="container-product-img">
	<div class="overlay uk-inline">
		<picture>
			<source *ngFor="let image of product?.images"
					type="image/{{ image.ext }}"
					media="(max-width: {{ image.width }}px)"
					srcset="{{ apiUrl }}{{ image.src }}">
			<img src="{{ defaultImage }}"
				 alt="{{ product?.title }}">
		</picture>
	</div>
</div>
<div class="container-product container-padding">
	<div class="product-card">
		<h3>{{ product?.title }}</h3>
		<p class="uk-text-meta" style="font-style: italic;">330 г.</p>
		<p class="uk-text-meta">{{ product?.composition }}</p>
		<p class="uk-text-meta" style="font-size:20px">{{ product?.emoji }}</p>

		<div class="uk-flex uk-flex-middle uk-flex-between">
			<div class="uk-width-expand"><p class="price uk-margin-remove">{{ product?.price }} ₽</p></div>
			<div class="uk-text-right">
				<div class="multiple-btn" [ngClass]="{ 'active' : product?.count > 0 }">
					<div class="btn-count">
						<button [disabled]="product?.count <= 1" (click)="deleteProductFromCart(product?._id)" class="uk-button uk-button-primary uk-button-circle"><i class="ico ico-minus"></i></button>
						<span class="count">{{ product?.count }}</span>
						<button [disabled]="product?.count >= 10" (click)="addProductToCart(product)" class="uk-button uk-button-primary uk-button-circle"><i class="ico ico-plus"></i></button>
					</div>
					<a *ngIf="isToppingsIncluded" [attr.uk-tooltip]="product?.count > 0 ? disabled : 'title: Выберите топпинги; pos: top-right; delay: 1000'"
					   (click)="product?.count < 1 ? addProductToCart(product) : openToppingsModal()"
					   class="btn-main uk-button uk-button-primary uk-button-shadow">
						<span class="first-el uk-text-nowrap">В корзину</span>
						<span class="second-el"><i class="ico ico-menu"></i></span>
					</a>
					<a *ngIf="product?.count < 1 && !isToppingsIncluded"
						 (click)="addProductToCart(product)"
						 class="btn-main uk-button uk-button-primary uk-button-shadow">
						<span class="first-el uk-text-nowrap">В корзину</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<app-toppings-modal></app-toppings-modal>