<div class="container-slider container-padding">
	<div class="uk-position-relative" uk-slider="finite: true">
		<ul class="uk-slider-items uk-grid uk-grid-small">
			<li class="uk-width-3-4" *ngFor="let action of actions">
				<div class="uk-panel">
					<picture>
						<source *ngFor="let image of action?.images"
										type="image/{{ image.ext }}"
										media="(max-width: {{ image.width }}px)"
										srcset="{{ apiUrl }}{{ image.src }}">
						<img src="{{ defaultImage }}"
								 alt="{{ action?.title }}">
					</picture>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="container-categories container-padding">
	<h4>Категории меню</h4>
	<div class="categories-wrapper">
		<div uk-grid class="uk-grid-small uk-child-width-1-2 uk-text-center uk-grid-match">
			<div *ngFor="let category of categories">
				<a [routerLink]="['/category', category?._id]" class="uk-card uk-card-body uk-card-small">
					<picture>
						<source *ngFor="let image of category?.images"
										type="image/{{ image.ext }}"
										media="(max-width: {{ image.width * 2}}px)"
										srcset="{{ apiUrl }}{{ image.src }}">
						<img src="{{ defaultImage }}"
								 alt="{{ action?.title }}">
					</picture>
					<h5>{{ category?.title }}</h5>
				</a>
			</div>
		</div>
		<div class="wrapper-gradient"></div>
	</div>
	<div class="button-wrapper-expand uk-text-center"><button uk-toggle="target: .container-categories; cls: expand" class="uk-button uk-button-primary uk-button-circle fill uk-button-shadow"><i class="ico ico-chevron-down"></i></button></div>
</div>
<div class="container-slider container-padding container-favorite">
	<h4>Популярное</h4>
	<div class="uk-position-relative" uk-slider="finite: true">
		<ul class="uk-slider-items uk-grid uk-grid-small">
			<li class="uk-width-2-5" *ngFor="let product of products">
				<a [routerLink]="['/product', product?._id]">
					<div class="uk-panel">
						<picture>
							<source *ngFor="let image of product?.images"
											type="image/{{ image.ext }}"
											media="(max-width: {{ image.width * 2 }}px)"
											srcset="{{ apiUrl }}{{ image.src }}">
							<img src="{{ defaultImage }}"
									 alt="{{ product?.title }}">
						</picture>
					</div>
					<h5 class="uk-margin-remove">{{ product?.title }}</h5>
					<small class="price uk-margin-remove">{{ product?.price }} ₽</small>
				</a>
			</li>
		</ul>
	</div>
</div>